.aps-social-icon-wrapper {
    text-align: right;
}
#text-3 {
    .textwidget {
        color: #aaaaaa;
        text-align: center;
    }
}
.footer-widgets .widgets-back-inside > div {
    height: 100%;
}
