.container-header {
    display: flex !important;
    justify-content: center;
    width: 100% !important;
    .header-logo-container {
        width: 20%;
    }
    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
        a {
            padding: 0 !important;
        }
    }
    #logo-image {
        max-width: 200px !important;
        float: none;
        margin: 0px !important;
    }
    .contact-container {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 20%;
        h6 {
            color: $white;
        };
    }
}

@media (max-width:950px) {
    .header-logo-container, .contact-container, #righttopcolumn {
        display: none !important;
    }
    .title-container {
        width: 100% !important;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 730px) {
    font-size: 12px;
}
