#righttopcolumn {
    display: none;
}
.container.container-header {
    @include flexbox;
    @include justify-content(center);
    width: 100% !important;
    .header-logo-container {
        width: 20%;
        a {
            display: block;
        }
    }
    .title-container {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-items(center);
        width: 60%;
        a {
            padding: 0 !important;
        }
    }
    #logo-image {
        max-width: 200px !important;
        float: none;
        margin: 0px !important;
    }
    .contact-container {
        text-align: justify;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-items(flex-end);
        width: 20%;
        h6 {
            color: $white;
        };
    }
}

@media (max-width:950px) {
    .container.container-header {
        @include flex-direction(row);
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        .header-logo-container, .contact-container, .title-container {
            width: 100%;
            text-align: center;
            @include align-items(center);
        }
        .header-logo-container a {
            text-align: center;
        }
    }
}
@media (max-width: 730px) {
    font-size: 12px;
}
