/* Main Menu */
#menu-main-menu {
    text-align: center;
    padding-bottom: 0px;
    @media (min-width: 769px){
        display: flex;
        justify-content: center;
    }
    li{
        background-size: 100% 200%;
        background-image: linear-gradient(to top, $default-blue 50%, $default-orange 50%);
        -webkit-transition: background-position .2s;
        -moz-transition: background-position .2s;
        transition: background-position .2s;
        width: 16%;
        @media (max-width: 1000px) {
            a {
                font-size: 12px !important;
            }
        }
    }
    li:hover {
        background-position: 0 -100%
    }
    .active {
        background: $default-blue !important;
        a {
            background: $default-blue !important;
        }
    }
}
