/* Main Menu */
//Sticky.js stuff
.menu-header {
    z-index: 1000;
}
.main-menu-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}
//End sticky.js stuff
#menu-main-menu {
    text-align: center;
    padding-bottom: 0px;
    @media (min-width: 769px){
        @include flexbox;
        @include justify-content(center);
    }
    li{
        background-size: 100% 250%;
        background-image: linear-gradient(to top, $default-blue 50%, $default-orange 50%);
        @include transition-property(background-position);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-in-out);
        width: 16%;
        @media (max-width: 1000px) {
            a {
                font-size: 12px !important;
            }
        }
    }
    li:hover {
        background-position: 0 -80%
    }
    .active {
        background: $default-blue !important;
        a {
            background: $default-blue !important;
        }
    }
}
