.services {
    @include flexbox;
    @include flex-direction(column);
    .service {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-around);
        margin: 60px 0;
        h1 {
            text-align: center;
            font-family: $menu-font;
        }
        hr {
            height: 3px;
            width: 85%;
            border-color: $default-orange;
            background-color: $default-orange;
        }
        .service-content {
            @include flexbox;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(flex-start);
            @include flex-wrap(wrap);
            .service-img {
                width: 30%;
            }
            .service-desc {
                width: 65%;
            }
        }
    }
}
@media (max-width: 768px) {
    .services .service .service-content {
        .service-img, .service-desc {
            width: 100%;
        }
    }
}
