/* Colors */
$default-blue: #1e3670;
$default-orange: #bc673c;


$white: #fff;
$black: #000;

$light-gray: #c6cfe8;
$light-blue: #295999;

$icon-color: #1e3670;
$links: #269195;
$links-hover: #39d1d6;


/* Fonts */
$menu-font: Questrial;
$sub-text: Rosario;
$serif: Georgia;
